<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="adminhtml_sales_order_create_process_data_before">
		<observer instance="Surething\Salesperson\Observer\Sales\OrderCreateProcessDataBefore" name="surething_salesperson_observer_sales_ordercreateprocessdatabefore_sales_order_create_process_data_before"/>
	</event>
</config>
